.parent-page {
  min-height: 100vh;
  position: relative;
}
.child-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.home-content-container {
  width: 50rem;
  padding-left: 17rem;
}
.home-paragraph{
  margin: 1rem 0;
  font-size: 1.8rem;
}
.contact-btn {
  width: 12rem;
  margin-top: 8rem;
  padding: 1rem 3rem;
  border: solid 2px var(--hover-fluorescent_blue-color);
  transition: background-color 2s ;
}
.contact-btn-text{
  color: var(--hover-fluorescent_blue-color);
}
.contact-btn-text:hover {
  color: var(--main-text-color);
}
.contact-btn:hover {
  background-color: var(--hover-fluorescent_blue-color);
  opacity: 0.7;
}