#projects {
  border-bottom: solid 5px rgb(200, 200, 200);

}
.projects-content-container {
  padding: var(--left_aligment_padding);
}
.projects-header{
  font-size: var(--sections_header);
  color: var(--hover-light_blue-color);

}
.projects-paragraph {
  width: 40rem;
  margin: 2rem 0 7rem;
  font-size: 1.5rem;
}
.portfolio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
  width: 100%;
  min-height: 50vh;
  gap: 5px;

}

.portfolio-item {

  background-color: aliceblue;
  position: relative;
}
.item1 {
  background: rgb(125, 145, 236);
}
.item2 {
background: rgb(25, 182, 245);
}
.item3 {
  background: rgb(56, 125, 18);
}
.item4 {
  background: rgb(212, 25, 246);
}
.item5 {
  
}

.image-container1{
  height: 20rem;

  background: url(/Images/guess-a-number.png) no-repeat center center/cover ;
  overflow: hidden;
}
.image-container2{
  height: 20rem;

  background: url(/Images/service-calculator.png) no-repeat center center/cover ;
  overflow: hidden;
}
.image-container3{
  height: 20rem;

  background: url(/Images/cooking-blog.jpg) no-repeat center center/cover ;
  overflow: hidden;
}
.image-container4{
  height: 20rem;

  background: url(/Images/roll-a-dice.png) no-repeat center center/cover ;
  overflow: hidden;
}
.image-container5{
  height: 20rem;

  background: url(/Images/deckDesign-2.png) no-repeat center center/cover ;
  overflow: hidden;
}
.image-container6{
  height: 20rem;
 
  background: url(/Images/the-insights-hub-banner.jpg) no-repeat center center/cover ;
  overflow: hidden;
}
.image-container7{
  height: 20rem;

  background: url(/Images/RoR.png) no-repeat center center/cover ;
  overflow: hidden;
}
.image-container8{
  height: 20rem;
  
  background: url(/Images/Python.svg.png) no-repeat center center/cover ;
  overflow: hidden;
}
.image-container9{
  height: 20rem;
  
  background: url(/Images/coding-image.jpg) no-repeat center center/cover ;
  overflow: hidden;
}
.image-container10{
  height: 20rem;
 
  background: url(/Images/matrix-coding.jpg) no-repeat center center/cover ;
  overflow: hidden;
}

.image-container-overlay {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 0.3;
}

.modal-window-background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0);
  opacity: 0.8;
  z-index: 3;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-window {
  height: 85vh;
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
}