@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

@import "CSS/nav.css"; 
@import "CSS/main-menu.css";
@import "CSS/homepage.css";
@import "CSS/projects.css";
@import "CSS/about.css";
@import "CSS/contact.css";
@import "Projects/RollADice/role-a-dice.css";



:root {
--hover-light_green-color: rgb(218, 247, 220);
--hover-darker_green-color: rgb(158, 228, 147);
--hover-light_blue-color: rgb(94, 177, 191);
--light-2_blue-color: rgb(64, 140, 154);
--hover-fluorescent_blue-color: rgb(84, 242, 242);
--main-text-color: rgb(150, 150, 150);
--main-dark-text-color: rgb(90, 90, 90);
--main-light-text-color: rgb(180, 180, 180);
--sections_header: 4rem;
--left_aligment_padding: 1rem 6rem;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: var(--main-text-color);
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
h1 {
  font-size: var(--sections_header);
  color: var(--hover-light_blue-color);
}

.home-page {
  background-color: rgb(35, 35, 35);
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  
  grid-template-areas: "m a a a a a a a a a a a";
}

.app-wrapper {
  grid-area: a;
  width: 100%;
}

.overflow {
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  opacity: 0.8;
}
.hidden {
  display: none;

}
/* media queries */
/* maximal values  */

@media (max-width: 1280px) {
  #projects {
    width: 90%;
    margin-left: 4.5rem;
  }
  .h1-header {
    font-size: 4rem;
  }
  .projects-content-container {
    padding: 0 3rem;
  }
  .projects-header {
    font-size: 3rem;
  }
  .about-header {
    font-size: 3rem;
    margin-left: 1.25rem;
  }
  .description-section {
    width: 55%;
  }
  .about-p-all {
    width: 115%;
    margin-left: 1.25rem;
  }
  .visual-element-section {
    width: 45%;
  }
  #contact {
    width: 100vw;
    margin-left: 6rem;
  }
  .form-container {
    margin-right: 1rem;
  }
}
@media (max-width: 1024px) {
 
  .main-menu {
    height: 121vh;
  }
  .child-page {
    margin-left: 1.75rem;
  }
  .h1-header {
    font-size: 3rem;
    text-align: center;

  }
  .home-paragraph {
    text-align: center;
    margin: 3rem 0;
  }
  .contact-btn {
    margin: 8rem auto 0 auto;
    width: 45vw;
    
  }
  .contact-btn::before{
    left: -55rem;
  }
  #projects {
    width: 91%;
    margin-left: 5.75rem;
  }
  .projects-header {
    font-size: 3rem;
    text-align: center;
  }
  .projects-paragraph {
    text-align: center;
    padding: 1rem;
  }
  .about-wrapper {
    flex-direction: column;
  }
  .description-section {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
  .projects-paragraph {
    width: 100%;
  }
  .about-header {
    text-align: center;
    font-size: 3rem;
  }
  .about-p-all {
    padding: 0 1rem;
  }
  .visual-element-section {
    width: 100%;
  }
  #contact {
    flex-direction: column;
  }
  .form-container {
    width: 108%;
    justify-content: center;

    height: 85vh;
  }
  .contact-form {
    grid-template-areas:
     "fn ln"
     "em em"
     "ta ta"
     "s s";
     
  }
  .map-container {
    width: 100%;
    height: 50vh;
  }
}
@media (max-width: 912px) {
  .home-page {
    grid-template-areas: "m m a a a a a a a a a a";
  }
  .home-content-container {
    width: 97%;
    padding: 0;
  }
  .projects-content-container {
    padding: 1rem;
  }
  .projects-paragraph {
    padding: 1rem 2rem;
    text-align: left;
    width: 99%;
  }
  .portfolio-wrapper {
    margin-left: 1.5rem;
    width: 95%;
  }
  .description-section {
    padding: 1rem 0 0 0;
  }
  .about-p-all {
    padding: 0 3rem 0 2rem;
  }
  .form-container {
    justify-content: center;
    width: 104%;
  }
  .contact-form {
    grid-template-areas:
   "fn ln"
   "em em"
   "ta ta"
   "s s";
  }
}
@media(max-width: 820px) {
  #projects {
    width: 100%;
    margin-left: 2.25rem;    
  }
  .home-content-container {
    padding: 0;
    width: 94%;
    margin-left: 2.25rem;
  }
  .home-page {
    grid-template-areas: "m m a a a a a a a a a a";
  }
  .main-menu {
   height: 121vh;
  }
  .contact-form {
    display: grid;
    gap: 0.7rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
     "fn ln"
     "em em"
     "ta ta"
     "s s";
  }
  .projects-content-container{
    padding: 0;
  }
  .projects-header {
    margin-top: 3rem;
  }
  .description-section {
    padding: 0;
    width: 94%;
    margin-left: 2.25rem;
  }
}
@media(max-width: 768px) {
  .home-content-container {
    margin-left: 3rem;
  }
  .projects-paragraph {
    text-align: left;
    padding: 2rem;
  }
  .description-section {
    width: 97%
  }
  .form-container {
    width: 104%
  }
  .about-p-all {
    text-align: left;
    padding-left: 2rem;
    padding-right: 4rem;
    margin: 0 0 1rem 0;
  }
}
@media(max-width: 576px) {
  .home-page {
    
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .mobile-menu {
    position: fixed  ;
    top: 0px;
    text-align: center;
    border-bottom: solid 2px;
    z-index: 6;
    width: 100vw;
  }
  .mobile-menu h2 {
    background: rgba(10, 10, 10, 0.2);
    padding: 1rem 0;

  }
  .main-menu{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 70vh;
  }
  .social-links {
    align-items: center;
    justify-content: space-evenly;
  }
  .social-links li {
    padding: 0.75rem 4rem;
    border: solid 2px var(--main-text-color);
  }
  .home-content-container {
    padding: 1rem;
    text-align: center;
  }
  .home-content-container h1 {
    font-size: 3rem;
  }
  .home-content-container p {
    display: none;
  }
  .projects-content-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  } 
  #contact {
    margin: 0;
  }
  .contact-btn {
    z-index: 1;
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 8rem;
    padding: 1rem 3rem;
    border: solid 2px var(--hover-fluorescent_blue-color);
    color: var(--hover-fluorescent_blue-color);
    cursor: pointer ;
    overflow: hidden;
    transition: all 1s ease-in-out;
  }
  .contact-btn::before{
    left: -55rem;
  }
  .projects-paragraph {
    width: 100%;
  }
  .projects-header {
    font-size: 3rem;
  }
  .about-wrapper {
    flex-direction: column;
  }
  .about-header {
    font-size: 3rem;
  }
  .description-section {
    width:100%;
    padding: 1rem;
  }
  .visual-element-section {
    width: 100%;
  }
  #contact {
    flex-direction: column;
  }
  .form-container {
    padding: 1rem;
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-form {
    display: grid;
    gap: 0.7rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
     "fn ln"
     "em em"
     "ta ta"
     "s s";
     
  }
  .contact-submit-btn{
    grid-area: s;
  }
  .map-container {
    width: 100vw;
    height: 100vh;
}
}
@media(max-width: 540px) {
  .home-content-container {
    width: 100%;
    margin: 0;
  }
  #projects {
    margin: 0;
  }
  .portfolio-wrapper {
    width: 100%;
    margin: 0;
  }
  .description-section {
    margin: 0;
  }
}
@media(max-width: 540px) {
  .main-roll-a-dice {
    display: flex;
    flex-direction: column;
    min-height: 82rem;
  }
  .btn {
    font-size: 0.5rem;
    padding: 0.5rem 1.5rem;
  }
  .btn-new {
    top: 1rem;
  }
  .btn--roll {
    top: 49%;
    
  }
  .btn--hold {
    top: 55%;
  
  }
  .player {
    padding: 1rem;
    margin-top: 8.25rem;
  }
}
@media(max-width: 412px) {

}
@media(max-width: 280px) {
  .main-menu {
    height: 100vh;
  }
  .form-container {
    height: 85vh;
  }
  .contact-form {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
    "fn"
    "ln"
    "em"
    "ta"
    "s";
  }
}




/* minimal values  */
@media (min-width: 576px) { }
